@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


/* darkmode: 'class'; */
@theme {
  --color-primary: #E58411;
  --color-white-1: #ffffff; 
  --color-white-2: #F7F7F7; 
  --color-primary: #E58411; 
  --color-primary: #E58411; 
  --font-primary: "Poppins", sans-serif;  
}

.section-container {
  @apply container mx-auto max-w-screen-xl py-6 px-4;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply w-10 h-10 leading-3  px-2 py-2 ring-2 ring-primary hover:text-white hover:bg-primary rounded-full bg-white text-black;
}


.dark{
  @apply bg-gray-900 text-white;
}